* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter Tight', sans-serif;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  display: none;
}

/* Firefox */
body {
  scrollbar-width: none;
}

html {
  overflow: -moz-scrollbars-none;
}